.container{
    display: flex;
    flex-direction: column;
    align-items:center;
    margin:auto;
    /*
    margin-top: 200px;
    */
    background: #bbbbca81;
    /* 
    width: 800px; 
    */
    width: 60vw; 
    border-radius: 15px;
    max-height:500px;
}

.quote{
    padding:50px 90px 30px 90px;
    color: white;
    font-size: 30px;
    text-align: center;
    font-family: "Monsterrat", sans-serif;
    font-style: italic;
}

.line{
    /*
    width: 680px;
    */
    width: 50vw;
    height:1.5px;
    background: white;
}

.bottom{
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 30px 0px;
}

.author{
    color: white;
    font-size: 20px;
    font-weight: 500;
    font-family: "Lato", sans-serif;
    width:200px;
    /*text-wrap: wrap;*/
}

.icons{
    display: flex;
    gap: 40px;
}

.icons img{
    height:36px;
    cursor:pointer;
}

.reload-btn{
    height:40px;
    cursor:pointer;
    position:relative;
    left:-40px;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }

.reload-btn:hover{
    animation: spin 0.5s ease-in-out;
}